html{
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal; 
    text-transform: uppercase; 
  } 
#p{
    color: white; 
    font-size: x-large;
}
#cjs{
    color: goldenrod;
}
#more{
    font-size: x-small;
    text-align: end;
    color: white;
}
a{
    text-decoration: none;
}
img{
    border: 5px solid white;
    height: 400px; 
    width: 100%;
}
div{
    /* max-width: fit-content;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto; */
    /* This above code can be tried.*/
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
}